<div class="row marketing">
  friend search: <input type="search" ng-model="q" placeholder="filter friends..." />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>no</th>
        <th>名前</th>
        <th>ランク</th>
        <th>出現場所</th>
        <th>好物</th>
        <th>メモ</th>
      </tr>
    </thead>
    <tbody>
      <tr class="animate-repeat" ng-repeat="monster in monsters | filter:q">
        <td>{{monster.no}}</a></td>
        <td>{{monster.name}}</td>
        <td>{{monster.rank}}</td>
        <td>{{monster.place}}</td>
        <td>{{monster.food}}</td>
        <td>{{monster.etc}}</td>

      </tr>
    </tbody>
  </table>
</div>

